.btn {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  min-width: 60px;
  margin-right: 10px;
  

  color: rgb(40, 82, 128);
  font-size: 14px;
  font-weight: 400;

  background-color: rgb(243, 246, 249);
  border: 1px solid rgb(40, 82, 128);
  box-shadow: 2px 2px 5px rgb(40, 82, 128);
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  color: rgb(243, 246, 249);
  background-color: rgb(40, 82, 128);
}